<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "Spending" %>
    <%= form.text_field :name, class: "form-control-sm" %>
  </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_area :description ,:cols => 21, :rows => 8 , class: "form-control-sm"%>
  </div>

  <div class="mb-3">
    <%= form.label :category %>
    <div class="form-control">
     <%= form.select :category, options_for_select(["Travelling", "Clothing", "Taxi", "Cafes", "Shops", "Attraction", "Presents", "Charity", "Other"])%>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "form-control-sm" %>
  </div>

  <div class="mb-3">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control-sm" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Spending", class: "btn btn-dark" %>
  </div>
<% end %>
